body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
img{
    max-width: 100%;
}
h2{
    color: coral;
}
.flexibel-container{
    display: flex;
    margin-bottom:150px ;
}
.half-width{
    width:50% ;
}
.half-width img {
    width: 70%;
    margin-top: -73px;
}
.link-button{
    text-decoration:none ;
    background-image:linear-gradient(coral,red);
    color:white ;
    font-weight: 700;
    padding:40px,100px ;
    border-radius: 2px;

}
div{
    padding-left: 5%;
}
.top-border{
    border-left:2px solid red;
}
.coral-color{
    color:coral ;
}
.part-2{
    text-align: center;

}
.mission-2022{
    background-position:left ;
}
.good-items img {
    max-width: 404px;
}
.good-items{
    width:50% ;
    margin-left: 1%;
    margin-right:1% ;
    padding:10px ;
}
#mission{
    background-color: aquamarine;
    border-radius:10px ;


}
#vission{
    background-color: burlywood;
    border-radius: 10px;
}
#goals{
    background-color: bisque ;
    border-radius:10px ;
}
.img-width{
    width:50% ;
    background-position: left;
}

